<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO List</title>
</head>

<body>
    <div id="app">
        <h1>ToDo App</h1>
        <form @submit.prevent="AddToDo">
            <label>New Todo</label>
            <input type="text" v-model="content" />
            <button>Add Todo</button>
        </form>
        <h2>ToDo List ({{todos.length}})</h2>
        <ul>
            <li v-for="(todo,index) in todos">
                <!-- <span v-if="todo.done" style="text-decoration: line-through;" @click="DoIt(todo)">{{todo.content}}</span>
                <span v-else @click="DoIt(todo)">{{todo.content}}</span> -->

                <span :class="{done :todo.done,notDone :!todo.done}" @click="DoIt(todo)">{{todo.content}}</span>
                <button @click="removeTodo(index)">❌</button>
            </li>
        </ul>

    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const App = {
        data() {
            return {
                todos: [{
                    content: 'กินข้าว',
                    done: false
                }, {
                    content: 'อ่านหนังสือ',
                    done: false
                }, {
                    content: 'ดูหนัง',
                    done: false
                }, {
                    content: 'เตะบอล',
                    done: false
                }, ],
                content: '',
            }
        },
        methods: {
            AddToDo() {
                this.todos.push({
                    content: this.content,
                    done: false
                });
                this.content = '';

            },
            removeTodo(index) {
                this.todos.splice(index, 1);
            },
            DoIt(todo) {
                todo.done = !todo.done
                console.log(todo)
            }

        }

    }
    const vue = Vue.createApp(App);
    vue.mount('#app');
</script>
<style>
    .done {
        text-decoration: line-through;
        color: grey;
    }
    
    .notDone {
        color: blueviolet;
    }
    
    ul {
        list-style: none;
    }
    
    ul li::before {
        content: '💗';
        margin: 0 10px 0 0;
    }
</style>

</html>