<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
</head>

<body>
    <div id="button-counter">
        <button @click="counter++">{{counter}}</button>
    </div>
    <div id="app">
        <button-counter begin="1"></button-counter>
        <button-counter begin="1"></button-counter>
        <button-counter begin="10"></button-counter>
        <button-counter begin="100"></button-counter>

    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const ButtonCounter = {
        data() {
            return {
                counter: 0,
            }
        },
        component() {

        }
    }
    const vue = Vue.createApp(ButtonCounter);
    vue.mount('#button-counter');
</script>
<script>
    const App = {
        data() {
            return {
                counter: 0,
            }
        }
    }
    const vue2 = Vue.createApp(App);
    vue2.component('button-counter', {
        data() {
            return {
                counter: this.begin,
            }
        },
        template: `<button @click="counter++">{{counter}}</button>`,
        props: [
            'begin'
        ]
    });
    vue2.mount('#app');
</script>
<style>
    button {
        font-size: 100px;
        margin: 10px;
    }
</style>

</html>